/*Global style variables */
:root {
    --main-bg-color: #ADBBDA;
    --footer-bg-color: #f8f9fa;
    --graph-bg-color: lightblue;
    --accent-bg-color: lightblue;
    --pullquote-bg-color: #ddf;
    --wiki-bg-color: lightblue;

    --main-text-color: #3D52A0;
    --button-text-color: white;

    --co2-color: #882F36; /* Not currently used as variable, here for reference*/
}

body {
    text-align: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0% 0% 0% 0%;
    }

h1 {
   font: 800 64px/64px 'Open Sans'
   margin: 0 0 32px 0;
   text-align: center;
   text-transform: uppercase;
    }

.radarimg {
    -moz-transform:scale(0.7);
    -webkit-transform:scale(0.7);
    transform:scale(0.7);
}

.radarimgfull {
    -moz-transform:scale(1.0);
    -webkit-transform:scale(1.0);
    transform:scale(1.0);
    background-color: var(--graph-bg-color);
    border-radius: 30px;
}
.mainimg {
    -moz-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    background-color: var(--graph-bg-color);
    border-radius: 30px;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0%;
    vertical-align: middle;}

p {
    width: 40%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
   font-family: helvetica, sans-serif;
   font-size: 18px;}

.wikiattrib {
    padding-top: 15px;
    padding-bottom: 15px;
   font-family: helvetica, sans-serif;
   font-size: 18px;}

button {
   background-color: var(--accent-bg-color);
   color: var(--button-text-color);
   padding: 15px 32px;
   border-radius: 4px;
   border: 5px solid var(--accent-bg-color);}

   button:hover {
   background: var(--button-text-color);
   border: 5px solid var(--accent-bg-color);
   color: var(--accent-bg-color);
}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pullquote {
    /*float: left;*/
    width: 300px;
    background: var(--pullquote-bg-color);
    font-weight: bold;
    padding: 13px;
    margin: 0 13px 13px 0;
    text-align: center;
    border-radius: 10px;
}

.pullquote blockquote:first-letter {
    font-size: 30px;
    font-weight: bold;
}

blockquote {
    margin: 0;
}


.bottom_margin {
    height: 100px;
}
.footer {
    background-color: var(--footer-bg-color);
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    max-height: 50%;
}


/*
.header {
   overflow: hidden;
   padding: 10px;
   width: 100%;
   background-color: #8bc34a;
   border-bottom: 1px solid black; }

.navbar {
    width: 100%;
    background-color: #1976d2;}

.navbar-nav .nav-item .nav-link:hover {
    color: light gray;}

.navbar-nav .cog-icon::before {
   content: "\2699";
   list-style: none;
   font-size: 35px;
}
.error {
    border-bottom: 1px solid black;
    margin-top: 20px;
}
*/

